
#content #profile
{
    height: 400px;
}

#content #profile .p-background
{
    position: relative;

    height: 50%;

    background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
}

#content #profile .p-background .b-name
{
    font-size: 42px;

    position: absolute;
    bottom: 0;

    margin: 50px 50px 50px 225px;

    color: white;
}

#content #profile .p-background .b-info
{
    font-size: 26px;

    position: absolute;
    bottom: 0;

    margin: 50px 50px 15px 225px;

    color: white;
}

#content #profile img
{
    position: absolute;
    z-index: 10;

    float: left;

    width: 150px;
    height: 150px;
    margin: 100px 20px 0 50px;

    border-radius: 5%;
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,.5);
}

#content #profile .info-background
{
    height: auto;
    margin: 0 0 50px 0;
    padding: 50px 50px 50px 50px;

    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

#content #profile .info-background div
{
    margin-top: 50px;
    padding: 50px;

    background-color: white;
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,.5);
}

#content #profile .info-background p
{
    font-size: 26px;

    display: inline-block;
}

#content #profile .info-background hr
{
    margin: 25px 5px;

    border: 0;
    border-bottom: 1px solid #ccc;
}

#content #profile .info-background a
{
    transition: .2s linear;
    text-decoration: none;

    color: blue;
}

#content #profile .info-background a:hover
{
    transition: .2s linear;

    color: red;
}
