
#content #profile .info-background div
{
    padding: 50px;

    background-color: white;
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,.5);
}

#content #profile .info-background p
{
    font-size: 26px;

    display: inline-block;

    width: 300px;
}

#content #profile .info-background hr
{
    width: 100%;
    margin: 25px 5px;

    border: 0;
    border-bottom: 1px solid #ccc;
    background: #999;
}
