#content
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    height: 100%;

    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: end;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

#content .search
{
    margin-bottom: 50px;

    background-color: white;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.5);
            box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.5);

    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: justify;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#content .search .s-b
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: justify;
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#content .search .s-b input
{
    font-size: 26px;

    display: inline-block;

    width: 50%;
    height: 50px;
    margin: 5px 25px;
    padding: 0 25px;

    border: none;
}

.button
{
    font-size: 23px;

    float: right;

    width: 150px;
    padding: 16px;

    -webkit-transition: 0.2s linear;
            transition: 0.2s linear;
    text-align: center;
    text-decoration: none;

    color: black;
}

.button:hover
{
    padding: 16px;

    -webkit-transition: 0.2s linear;
            transition: 0.2s linear;

    color: white;
    background-color: black;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.5);
            box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.5);
}

#content hr
{
    width: 100%;
    margin: 0 5px;

    border: 0;
    border-bottom: 1px solid #CCCCCC;
    background: #999999;
}

#rasp
{
    margin-bottom: 50px;

    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-positive: 1;
}

.items-search .p-button a
{
    font-size: 26px;

    display: block;

    width: 100%;
    padding: 16px;

    -webkit-transition: 0.2s linear;
            transition: 0.2s linear;
    text-align: left;
    text-decoration: none;
    text-indent: 50px;

    color: black;
}

.items-search .p-button
{
    -webkit-transition: 0.2s linear;
            transition: 0.2s linear;
}

.items-search .p-button:hover
{
    font-size: 27px;

    padding: 20px 0;

    -webkit-transition: 0.2s linear;
            transition: 0.2s linear;

    color: black;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.5);
            box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.5);
}

#content .items p
{
    margin: 0 auto;
}

#content .checkbox
{
    height: auto;
    margin: 0 50px;
}

#content .checkbox input
{
    margin: 15px 10px 25px 5px;
}

#content .checkbox label
{
    margin: 0 50px 0 0;
}

#content .items-search
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#content .items
{
    display: inline-block;

    width: 70%;
}

#content .is-search
{
    width: 25%;
    min-width: 300px;
    height: 100%;
    margin-left: 50px;

    background-color: white;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.5);
            box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.5);
}

#content .is-search input
{
    font-size: 16px;

    height: 50px;
    margin: 5px auto;
    padding: 1%;

    text-indent: 20px;

    border: none;
}

.is-items
{
    background-color: white;
}


.is-items .is-p-button
{
    -webkit-transition: 0.2s linear;
            transition: 0.2s linear;
}

.is-items .is-p-button a
{
    font-size: 20px;

    display: block;

    width: auto;
    padding: 16px;

    -webkit-transition: 0.2s linear;
            transition: 0.2s linear;
    text-decoration: none;

    color: black;
}

.is-items .is-p-button:hover
{
    font-size: 20px;

    padding: 3px;

    -webkit-transition: 0.2s linear;
            transition: 0.2s linear;

    color: black;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.5);
            box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.5);
}

.is-items p
{
    margin: 0 auto;

    text-indent: 15px;
}

table
{
    width: 100%;
    margin: 0 auto;

    border-collapse: collapse;

    text-align: center;

    background-color: white;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.5);
            box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.5);
}

td, th
{
    font-family: "Oswald", sans-serif;

    padding: 10px;
}

#enter
{
    font-size: 21px;

    width: 70%;
    width: 80%;
    height: 55px;
    margin: 0 !important;

    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2) !important;
}

#search
{
    font-family: "Oswald", sans-serif;
    font-size: 16px;

    float: right;

    width: 30%;
    width: 19%;
    height: 55px;
    margin: 0 !important;

    -webkit-transition: 0.2s linear;
            transition: 0.2s linear;
    text-align: center;
    text-indent: 0px !important;

    border: none;
    background-color: white;
}

#search:hover
{
    cursor: pointer;
    -webkit-transition: 0.2s linear;
            transition: 0.2s linear;

    color: white;
    background-color: black;
}
