#content
{
    height: 100%;
}

#enter
{
    font-size: 21px;

    width: 80%;
    height: 55px;

    text-indent: 25px;

    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

#search
{
    font-family: "Oswald", sans-serif;
    font-size: 16px;

    float: right;

    width: 19%;
    height: 55px;

    -webkit-transition: 0.2s linear;
            transition: 0.2s linear;
    text-align: center;

    border: none;
    background-color: white;
}

#search:hover
{
    cursor: pointer;
    -webkit-transition: 0.2s linear;
            transition: 0.2s linear;

    color: white;
    background-color: black;
}

#content .search
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 50px;

    background-color: white;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.5);
            box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.5);

    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: justify;
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#content .search input
{
    font-size: 26px;

    display: inline-block;

    width: 70%;
    height: 50px;
    margin: 5px 25px;
    padding: 0 25px;

    border: none;
}

.button
{
    font-size: 23px;

    float: right;

    width: 150px;
    padding: 16px;

    -webkit-transition: 0.2s linear;
            transition: 0.2s linear;
    text-align: center;
    text-decoration: none;

    color: black;
}

.button:hover
{
    padding: 16px;

    -webkit-transition: 0.2s linear;
            transition: 0.2s linear;

    color: white;
    background-color: black;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.5);
            box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.5);
}

#content hr
{
    margin: 0 5px;

    border: 0;
    border-bottom: 1px solid #CCCCCC;
    background: #999999;
}


#content .items
{
    background-color: white;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.5);
            box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.5);
}


.p-button a
{
    font-size: 26px;

    display: block;

    padding: 16px;

    -webkit-transition: 0.2s linear;
            transition: 0.2s linear;
    text-align: left;
    text-decoration: none;
    text-indent: 50px;

    color: black;
}

.p-button
{
    -webkit-transition: 0.2s linear;
            transition: 0.2s linear;
}

.p-button:hover
{
    font-size: 27px;

    padding: 20px 0;

    -webkit-transition: 0.2s linear;
            transition: 0.2s linear;

    color: black;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.5);
            box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.5);
}

#content .items p
{
    margin: 0 auto;
}
