

#content #profile .info-background .item-info
{
    padding: 50px;

    background-color: white;
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,.5);
}

#content #profile .info-background .item-info
{
    margin-bottom: 50px;
}

#content #profile .info-background .item-info p
{
    font-size: 26px;

    display: inline-block;

    width: 300px;
}

#content #profile .info-background .item-info hr
{
    width: 100%;
    margin: 25px 5px;

    border: 0;
    border-bottom: 1px solid #ccc;
    background: #999;
}


#content .items hr
{
    width: 100%;
    margin: 0 5px;

    border: 0;
    border-bottom: 1px solid #ccc;
    background: #999;
}

#content .items
{
    background-color: white;
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,.5);
}

.p-button a
{
    font-size: 26px;

    display: block;

    width: 100%;
    padding: 16px;

    transition: .2s linear;
    text-align: left;
    text-decoration: none;
    text-indent: 50px;

    color: black;
}

.p-button
{
    transition: .2s linear;
}

.p-button:hover
{
    font-size: 27px;

    transition: .2s linear;

    color: black;
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,.5);
}

#content .items p
{
    margin: 0 auto;
}



#content #profile .info-background .item-opisanie
{
    margin-bottom: 50px;
    padding: 50px;

    background-color: white;
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,.5);
}

#content #profile .info-background .item-opisanie p
{
    font-size: 26px;
}
