#news
{
    display: flex;

    padding: 25px 50px;

    flex-direction: row;
}

#news div
{
    margin: 2px 4px;
    margin-bottom: 25px;
    padding: 20px 40px;

    background-color: white;
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,.5);
}

#news .c-h
{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 36px;

    margin-bottom: 25px;
}

#news .c-text
{
    font-family: 'Roboto', sans-serif;
    font-size: 23px;

    padding: 5px 5px 35px 0;
}

#news .c-text img
{
    float: left;

    width: auto;
    height: 250px;
    margin-right: 35px;
    margin-bottom: 5px;

    box-shadow: 2px 2px 3px 0 rgba(0,0,0,.5);
}

#news .с-link a
{
    font-size: 23px;

    transition: .2s linear;
    text-decoration: none;

    color: black;

    float: right;
}

#news .с-link a:hover
{
    margin: -15px;
    padding: 15px 15px;

    transition: .2s linear;

    color: white;
    background-color: black;
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,.5);
}