*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#chat
{
    position: fixed;
    z-index: 25;
    right: 0;
    bottom: 0;

    display: flex;

    width: 300px;
    min-width: 250px;
    height: 450px;
    min-height: 100px;

    box-shadow: 1px 1px 25px 0 rgba(0,0,0,0.5);

    flex-flow: column nowrap;
    justify-content: space-between;
}

#chat .header
{
    display: flex;

    width: 100%;
    min-height: 40px;

    background: linear-gradient(45deg, #874DA2 0%, #C43A30 100%);

    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#chat .header p
{
    font-family: "Oswald", sans-serif;

    display: inline-block;

    text-indent: 15px;

    color: white;
}

#chat .header #expand
{
    width: 25px;
    height: 25px;
    margin-right: 10px;

    cursor: pointer;
    transition: width 1s;

    background-size: cover;
}

#chat .header #expand:active
{
    transition: width 1s;
    animation-name: expandRotate;
    animation-duration: 1s;
}

@keyframes expandRotate
{
    from
    {
        transform: rotate(90deg);
    }
    to
    {
        transform: rotate(0deg);
    }
}

#chat .content
{
    overflow-x: hidden;

    background-color: white;

    flex-grow: 1;
}

#chat .content .message
{
    font-family: "Roboto", sans-serif;

    margin: 0 5px 15px 5px;
    padding: 10px;

    text-indent: 10px;
    word-wrap: break-word;

    border-radius: 8px;
    background-color: rgba(0,0,0,0.1);
    box-shadow: 3px 3px 5px -3px rgba(0,0,0,0.5);
}

#chat .content .name
{
    font-family: "Roboto", sans-serif;

    display: inline-block;

    text-indent: 20px;
}

#chat .content .date
{
    font-family: "Roboto", sans-serif;

    float: right;

    margin-right: 20px;
}

#chat .footer
{
    display: flex;

    width: 100%;
    min-height: 40px;
    margin-bottom: 0px;

    border-top: 1px solid rgba(0,0,0,0.2);

    flex-flow: row nowrap;
}

#chat .footer input
{
    height: 100%;

    flex-grow: 1;
}

#chat .footer #text
{
    font-family: "Oswald", sans-serif;
    font-size: 14px;

    padding: 0px 10px;

    text-indent: 5px;

    border: none;
}

#chat .footer #button
{
    font-family: "Oswald", sans-serif;
    font-size: 16px;

    transition: 0.2s linear;
    text-align: center;

    border: none;
    background-color: white;
}

#chat .footer #button:hover
{
    filter: invert(1);
}


