*
{
    margin: 0;
    padding: 0;
}

html, head, body, #main-wrapper
{
    font-family: "PT Sans Narrow", sans-serif, "Roboto", sans-serif, "Oswald", sans-serif;

    min-width: 800px;
    height: 100%;

    background-color: #CECECE;
}

@media screen and (max-width: 1210px)
{
    .hm-logo
    {
        width: 100%;
    }

    .hm-menu ul
    {
        align-items: center;
        -webkit-box-align: center;
        -webkit-box-pack: center;
        -ms-flex-align: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media screen and (max-width: 960px)
{
    .hm-login
    {
        margin: 0 auto;
    }

    .hm-menu
    {
        margin: 0 auto;
    }
    .hm-menu ul
    {
        align-items: center;
        -webkit-box-align: center;
        -webkit-box-pack: center;
        -ms-flex-align: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    #nav-menu ul
    {
        align-items: center;
        -webkit-box-align: center;
        -webkit-box-pack: center;
        -ms-flex-align: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .с-link
    {
        text-align: center;
    }
}

@media screen and (max-width: 500px)
{
    .hm-login
    {
        width: 100%;
    }

    .hm-menu
    {
        width: 100%;
    }
    .hm-menu li
    {
        width: 100%;
    }

    #nav-menu li
    {
        width: 100%;
    }
}

#header-menu
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    background-color: white;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.hm-logo
{
    display: block;

    padding: 10px 0;

    background-image: -webkit-gradient(linear, left top, right top, from(#6A11CB), to(#2575FC));
    background-image: linear-gradient(to right, #6A11CB 0%, #2575FC 100%);
}

.hm-logo h2
{
    font-family: "Oswald", sans-serif;
    font-size: 26px;

    padding: 0 25px;

    text-align: center;

    text-shadow: 2px 2px 0 rgba(0,0,0,0.2);
}

.hm-menu
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.hm-menu ul
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;

    list-style-type: none;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.hm-menu a
{
    font-size: 23px;

    display: block;

    min-width: 200px;
    padding: 15px 0 15px 0;

    -webkit-transition: 0.3s linear;
            transition: 0.3s linear;
    text-align: center;
    text-decoration: none;

    color: black;
}

.hm-menu a:hover, #hm-menu_active
{
    -webkit-transition: 0.2s linear;
            transition: 0.2s linear;

    background-color: #CECECE;
    -webkit-box-shadow: 0 -75px 85px -130px rgba(0,0,0,0.85) inset;
            box-shadow: 0 -75px 85px -130px rgba(0,0,0,0.85) inset;
}

.hm-login
{
    margin-left: auto;
}

.hm-login a
{
    font-size: 23px;

    display: block;

    min-width: 200px;
    padding: 15px 0 15px 0;

    -webkit-transition: 0.3s linear;
            transition: 0.3s linear;
    text-align: center;
    text-decoration: none;

    color: black;
}

.hm-login a:hover
{
    -webkit-transition: 0.2s linear;
            transition: 0.2s linear;

    background-color: #CECECE;
    -webkit-box-shadow: 0 -75px 85px -130px rgba(0,0,0,0.85) inset;
            box-shadow: 0 -75px 85px -130px rgba(0,0,0,0.85) inset;
}

.hm-logo a
{
    text-decoration: none;

    color: black;
}

#header-picture
{
    height: 28%;
    min-height: 150px;

    background-image: url("../images/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

form
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-left: auto;

    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

#ishi
{
    -webkit-transition: 0.2s linear;
            transition: 0.2s linear;

    background-image: url("../images/icons/search-icon.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    -webkit-filter: opacity(0.4);
            filter: opacity(0.4);
}

#ishi:hover
{
    -webkit-transition: 0.2s linear;
            transition: 0.2s linear;

    -webkit-filter: opacity(1);
            filter: opacity(1);
}

#ishi-pole
{
    text-indent: 15px;

    border-bottom: 1px solid rgba(0,0,0,0.3);
}

form input
{
    font-family: "Oswald", sans-serif;
    font-size: 19px;

    margin: 0 25px 0 0;

    text-indent: 25px;

    border: none;
    background-color: #CECECE;
}

#nav-menu, form
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    background-color: #CECECE;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

#nav-menu ul
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;

    list-style-type: none;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

#nav-menu a
{
    font-size: 23px;

    display: block;

    min-width: 200px;
    padding: 15px 0;

    -webkit-transition: 0.3s linear;
            transition: 0.3s linear;
    text-align: center;
    text-decoration: none;

    color: black;
}

#nav-menu a:hover, #nav-menu_active
{
    -webkit-transition: 0.2s linear;
            transition: 0.2s linear;

    background-color: #BDBDBD;
    -webkit-box-shadow: 0 -75px 85px -130px rgba(0,0,0,0.85) inset;
            box-shadow: 0 -75px 85px -130px rgba(0,0,0,0.85) inset;
}
