*
{
    margin: 0;
    padding: 0;
}

html, head, body, #main-wrapper
{
    font-family: 'PT Sans Narrow', sans-serif, 'Roboto', sans-serif, 'Oswald', sans-serif;

    height: 100%;

    background-color: #cecece;
}

@media screen and (max-width: 1210px)
{
    .hm-logo { width: 100%; }

    .hm-menu { justify-content: center; align-items: center; }
}

@media screen and (max-width: 960px)
{
    .hm-login { margin: 0 auto; }

    .hm-menu { margin: 0 auto; }
    .hm-menu ul { justify-content: center; align-items: center; }

    #nav-menu ul{ justify-content: center; align-items: center; }

    .с-link { text-align: center; }
}

@media screen and (max-width: 500px)
{
    .hm-login { width: 100%; }

    .hm-menu { width: 100%; }
    .hm-menu li { width: 100%; }

    #nav-menu li { width: 100%;}
}

#main-wrapper
{
    min-width: 800px;
    height: 100%;
}


#wrapper-one
{
    float: left;

    width: 20%;
    height: 100%;
}

#wrapper-two
{
    float: right;

    width: 80%;
}


#side-bar
{
    position: fixed;

    display: block;
    float: left;

    width: 20%;
    min-width: 200px;
    height: 100%;

    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

.hm-logo h2
{
    font-family: 'Oswald', sans-serif;
    font-size: 26px;

    padding: 10px 0;

    text-align: center;

    text-shadow: 2px 2px 0 rgba(0,0,0,.2);
}

.sb-profile img
{
    display: block;

    width: 40%;
    height: 40%;
    margin: 75px auto 15px auto;

    border-radius: 100%;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,.5);
}

.sb-profile .sb-name
{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;

    margin: 0 auto;

    text-align: center;
}

.sb-profile .sb-role
{
    font-size: 21px;

    margin: 5px auto;

    text-align: center;
}

.sb-menu
{
    display: flex;

    padding: 100px 0;

    flex-flow: column nowrap;
}

.sb-menu ul
{
    display: flex;

    width: 100%;

    list-style-type: none;

    flex-flow: column nowrap;
}

.sb-menu a
{
    font-size: 23px;

    display: block;

    width: 100%;
    min-width: 200px;
    padding: 15px 0 15px 0;

    transition: .3s linear;
    text-align: center;
    text-decoration: none;

    color: black;
}

.sb-menu a:hover,
#sb-menu_active
{
    transition: .2s linear;

    background-color: rgba(255,255,255,.2);
    box-shadow: 0 -75px 85px -130px rgba(0,0,0,.85) inset;
}

#header-menu
{
    display: flex;

    background-color: white;

    flex-flow: row wrap;
}

.hm-menu
{
    display: flex;

    flex-flow: row wrap;
}

.hm-menu ul
{
    display: flex;

    width: 100%;

    list-style-type: none;

    flex-flow: row wrap;
}

.hm-menu a
{
    font-size: 23px;

    display: block;

    width: 100%;
    min-width: 200px;
    padding: 15px 0 15px 0;

    transition: .3s linear;
    text-align: center;
    text-decoration: none;

    color: black;
}

.hm-menu a:hover,
#hm-menu_active
{
    transition: .2s linear;

    background-color: #cecece;
    box-shadow: 0 -75px 85px -130px rgba(0,0,0,.85) inset;
}

.hm-login
{
    margin-left: auto;
}

.hm-login a
{
    font-size: 23px;

    display: block;

    width: 100%;
    min-width: 200px;
    padding: 15px 0 15px 0;

    transition: .3s linear;
    text-align: center;
    text-decoration: none;

    color: black;
    background-color: white;
}

.hm-login a:hover
{
    transition: .2s linear;

    background-color: #cecece;
    box-shadow: 0 -75px 85px -130px rgba(0,0,0,.85) inset;
}

.hm-logo a
{
    text-decoration: none;
    color: black;
}

#nav-menu
{
    display: flex;

    background-color: #cecece;

    flex-flow: row wrap;
}

#nav-menu ul
{
    font-size: 23px;

    display: flex;

    width: 100%;

    list-style-type: none;

    flex-flow: row wrap;
}

#nav-menu a
{
    display: block;

    width: 100%;
    min-width: 200px;
    padding: 15px 0 15px 0;

    transition: .3s linear;
    text-align: center;
    text-decoration: none;

    color: black;
}

#nav-menu a:hover,
#nav-menu_active
{
    transition: .2s linear;

    background-color: #bdbdbd;
    box-shadow: 0 -75px 85px -130px rgba(0,0,0,.85) inset;
}

#content
{
    padding: 50px 50px 50px 50px;

    background-color: #cecece;
}

/*
input
{
    background-image: linear-gradient(120deg, #ebedee 0%, #fdfbfb 100%);
}
*/
