*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html
{
	height: 100%;
}

body, #main-wrapper
{
	min-height: 100%;
}

html, head, body, #main-wrapper
{
	font-family: "PT Sans Narrow", sans-serif, "Roboto", sans-serif, "Oswald", sans-serif;

	background-color: #CECECE;
}

#header-menu
{
	display: flex;
	flex-wrap: wrap;

	background-color: white;
}

.hm-logo
{
	display: block;

	padding: 10px 0;

	background-image: -webkit-gradient(linear, left top, right top, from(#6A11CB), to(#2575FC));
	background-image: linear-gradient(to right, #6A11CB 0%, #2575FC 100%);
}

.hm-logo h2
{
	font-family: "Oswald", sans-serif;
	font-size: 26px;

	padding: 0 25px;

	text-align: center;

	text-shadow: 2px 2px 0 rgba(0,0,0,0.2);
}

.hm-menu
{
	display: flex;
	flex-wrap: wrap;
}

.hm-menu ul
{
	display: flex;
	flex-wrap: wrap;

	width: 100%;

	list-style-type: none;
}

.hm-menu a
{
	font-size: 23px;

	display: block;

	min-width: 200px;
	padding: 15px 0 15px 0;

	transition: 0.3s linear;
	text-align: center;
	text-decoration: none;

	color: black;
}

.hm-menu a:hover, #hm-menu_active
{
	transition: 0.2s linear;

	background-color: #CECECE;
	box-shadow: 0 -75px 85px -130px rgba(0,0,0,0.85) inset;
}

.hm-login
{
	margin-left: auto;
}

.hm-login a
{
	font-size: 23px;

	display: block;

	min-width: 200px;
	padding: 15px 0 15px 0;

	transition: 0.3s linear;
	text-align: center;
	text-decoration: none;

	color: black;
}

.hm-login a:hover
{
	transition: 0.2s linear;

	background-color: #CECECE;
	box-shadow: 0 -75px 85px -130px rgba(0,0,0,0.85) inset;
}

.hm-logo a
{
	text-decoration: none;

	color: black;
}

#header-picture
{
	height: 28%;
	min-height: 150px;

	background-image: url("../images/header-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
}

form
{
	display: flex;
	align-items: center;

	margin-left: auto;
}

#ishi
{
	cursor: pointer;
	transition: 0.2s linear;

	background-image: url("../images/icons/search-icon.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;

	filter: opacity(0.4);
}

#ishi:hover
{
	transition: 0.2s linear;

	filter: opacity(1);
}

#ishi-pole
{
	text-indent: 15px;

	border-bottom: 1px solid rgba(0,0,0,0.3);
}

form input
{
	font-family: "Oswald", sans-serif;
	font-size: 19px;

	margin: 0 25px 0 0;

	text-indent: 25px;

	border: none;
	background-color: #CECECE;
}

#nav-menu, form
{
	display: flex;
	flex-wrap: wrap;

	background-color: #CECECE;
}

#nav-menu ul
{
	display: flex;
	flex-wrap: wrap;

	list-style-type: none;
}

#nav-menu a
{
	font-size: 23px;

	display: block;

	min-width: 200px;
	padding: 15px 0;

	transition: 0.3s linear;
	text-align: center;
	text-decoration: none;

	color: black;
}

#nav-menu a:hover, #nav-menu_active
{
	transition: 0.2s linear;

	background-color: #BDBDBD;
	box-shadow: 0 -75px 85px -130px rgba(0,0,0,0.85) inset;
}

#news > form
{
	width: 100%;
}
