*
{
    font-family: "PT Sans Narrow", sans-serif, "Roboto", sans-serif, "Oswald", sans-serif;

    margin: 0;
    padding: 0;
}

html, body, #main
{
    width: 100%;
    height: 100%;

    background-image: -webkit-gradient(linear, left bottom, left top, from(#A8EDEA), to(#FED6E3));
    background-image: linear-gradient(to top, #A8EDEA 0%, #FED6E3 100%);
}

#main
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#login-popup
{
    display: block;

    width: 500px;
    min-width: 30%;
    height: 400px;
    min-height: 30%;

    background-image: linear-gradient(135deg, #F5F7FA 0%, #C3CFE2 100%);
    -webkit-box-shadow: 0 0 25px 0px rgba(0,0,0,0.5);
            box-shadow: 0 0 25px 0px rgba(0,0,0,0.5);
}

#login-popup .quit
{
    height: 15%;

    text-align: right;
}

#login-popup .inputs
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    height: 60%;

    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
}

#login-popup .inputs input
{
    font-size: 23px;

    width: 75%;
    margin: 15px auto;
    padding: 10px;

    text-align: center;

    border: 0;
    background-image: linear-gradient(120deg, #FDFBFB 0%, #EBEDEE 100%);
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.5);
            box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.5);
}

#login-popup .button
{
    height: 25%;
}

#login-popup .button input
{
    font-family: "Oswald", sans-serif;
    font-size: 46px;
    line-height: 195%;

    display: block;

    width: 100%;
    height: 100%;

    cursor: pointer;
    text-align: center;
    text-decoration: none;

    color: white;
    border: none;
    background-image: -webkit-gradient(linear, left top, right top, from(#6A11CB), to(#2575FC));
    background-image: linear-gradient(to right, #6A11CB 0%, #2575FC 100%);
    text-shadow: 2px 4px 3px rgba(0,0,0,0.7);
}
